<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div *ngIf="!spinner">
    <div class="row margin">
        <div class="col-md-3">
            <div class="img"><img width="250" src="../../../assets/publicidad.jpg" alt=""></div>

        </div>
        <div class="col-md-9 pt-3 margin-c">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Fiesta de fin de año Noviembre 22 de 2024 5:00 p.m.</h5>
                    <div class="centrar">
                        <div class="row">
                            <div class="col">
                                <p><strong>Ubicacion: </strong>Cielo alto, cra. 9E #16 - 104. Medellín - los balsos</p>
                            </div>
                            <div class="col">
                                <p><strong>Fecha: </strong>Noviembre 22 de 2024</p>
                            </div>
                            <div class="col">
                                <p><strong>Hora: </strong>5:00 p.m.</p>
                            </div>
                        </div>
                    </div>
                    <div class="centrar">
                        <button (click)="comprar()" class="btn btn-success lg">Compra aquí</button>
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>