<p *ngIf="!cargando && !login" class="navbar">
    <mat-toolbar>
        <span>MyT Eventos</span>
        <span class="example-spacer"></span>
        <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;" class="logout">person_pin</mat-icon>
        <mat-menu #menu="matMenu">
          <button style="cursor: pointer;" routerLink="/mis-compras" mat-menu-item>Mis boletas</button>
          <!-- <button style="cursor: pointer;" routerLink="/ventas" mat-menu-item>Ventas</button> -->
          <button style="cursor: pointer;" [routerLink]="['/login']" [queryParams]="{ generarLink: true }" mat-menu-item>Comprar con otra cédula</button>
        </mat-menu>
      </mat-toolbar>
</p>
<router-outlet *ngIf="!cargando"></router-outlet>
<footer  *ngIf="!cargando">© 2018 - 2024 Todos los derechos reservados / My Ticket Colombia SAS</footer>
<div class="mensaje">¿Necesitas ayuda?</div>
<div (click)="redirectW()" class="whatsapp"><img src="../assets/wp.png" alt=""></div>
<div *ngIf="cargando" class="spinner"><img src="../assets/spinner.gif" alt=""></div>

