<div class="spinner" *ngIf="spinner"><img src="../assets/spinner.gif" alt=""></div>
<div class="main" *ngIf="!spinner">
  <div class="close" (click)="redirect()"><mat-icon>close</mat-icon></div>
  <div class="container">
    <div class="form">
      
      <form [formGroup]="formularioLogin" class="login-form" >
        <div class="row">
          <mat-form-field>
            <mat-label>Cédula</mat-label>
            <input type="text" matInput formControlName="cedula">
          </mat-form-field>
        </div>
        <button class="submit" type="submit" (click)="iniciar()">continuar</button>
      </form>
    </div>
  </div>
</div>